.error {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1b1919;
  border: 1px solid #fff;
  padding: 20px;
  text-align: center;
}

.error__title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 10px 0;
}

.error__text {
  font-size: 18px;
  margin: 0;
  color: #fff;
}