.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1b1919;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader-chasing-squares {
  width: 40px;
  height: 40px;
  position: relative;
  animation: preloader-rotate 2s infinite linear;
}

.square {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-radius: 100%;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.square:nth-child(2) {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
